@model IEnumerable<XlationASP.Models.Xlator>

@{
    ViewData["Title"] = "Xlators";
}
<h1>@ViewData["Title"]</h1>
<hr/>

@Html.ActionLink(
    linkText: "Add",
    actionName: "New",
    controllerName: "Xlators",
    routeValues: null,
    htmlAttributes: new { @class = "btn btn-primary" }
)

@if(Model == null || !Model.Any()) 
{ 
    <p>No Xlators joined yet.</p> 
} 
else 
{ 
    <table class="table table-­bordered table-hover"> 
        <thead> 
            <tr> 
                <th>ID</th> 
                <th>Name</th>
                <th>Membership Type</th>
            </tr> 
        </thead> 

        <tbody> 
            @foreach (var xlator in Model) 
            { 
                <tr> 
                    <td>@xlator.Id</td> 
                    <td> 
                        @Html.ActionLink( 
                        linkText: $"{@xlator.Name}", 
                        actionName: "Details", 
                        controllerName: "Xlators", 
                        routeValues: new { id = xlator.Id }, 
                        htmlAttributes: null 
                        ) 
                    </td> 
                    <td>@xlator.MembershipType.Name</td> 
                </tr> 
            } 
        </tbody> 
    </table> 
}