@model XlationASP.ViewModels.XlatorFormViewModel

<h1>@ViewData["Title"]</h1>
<hr />

@using(Html.BeginForm("Save", "Xlators"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Xlator.Name)
        @Html.TextBoxFor(m => m.Xlator.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Xlator.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Xlator.MembershipTypeId)
        @Html.DropDownListFor(m => m.Xlator.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type" ,new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Xlator.MembershipTypeId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Xlator.Birthdate)
        @Html.TextBoxFor(m => m.Xlator.Birthdate, "{0:d MMM yyyy}" ,new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Xlator.Birthdate)
    </div>
    
    <div class="form-check">
        @Html.CheckBoxFor(m => m.Xlator.IsSubscribedToNewsLetter, new { @class = "form-check-input" } )
        <label class="form-check-label" for="IsSubscribedToNewsLetter">
        Is Subscribed?
        </label>
    </div>

    @Html.HiddenFor(m => m.Xlator.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}